{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<section style=" height: 100vh; display: flex;  justify-content: center;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <h3 style="font-size: 36px; text-align: center; margin-bottom: 30px;">Login</h3>
                            {{ form|crispy }}
                            <div class="form-group">
                                <button class="btn btn-primary mt-3 w-100" type="submit">Send</button>
                            </div>
                            <div class="mt-2 mb-2 text-center">
                                <small style="font-size: 16px;">
                                    <a class="text-decoration-none text-danger" href="{% url 'accounts:password_reset' %}">Forgot Password?</a>
                                </small>
                            </div>
                        </form>
                        <div class="border-top pt-3 text-center">
                            <small class="text-muted" style="font-size: 16px;">
                                New Here? <a class="text-decoration-none" href="{% url 'accounts:user_register' %}">Create account</a>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
