{% extends "dashboard.html" %}

{% block content %}

<table class="table table-striped ">
    <thead class="text-muted">
        <tr>
          <th scope="col">#</th>
            <th scope="col">title</th>
           
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    {% for category in categorys %}
    <tbody>
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td><a class="text-decoration-none" href="{{ category.get_absolute_url }}">{{ category.title }}</a></td>

        <td><a class="text-danger text-decoration-none" href="{% url 'dashboard:delete_category' category.id %}">Delete</a></td>
        <td><a class="text-info text-decoration-none" href="{% url 'dashboard:edit_categori' category.id %}">Edit</a></td>
      </tr>
    </tbody>
    {% endfor %}
</table>

{% endblock %}