
{% extends "dashboard.html" %}

{% block content %}
    {% if order.status %}
        <h4><b class="text-success">Successful</b></h4>
    {% else %}
        <h3><b class="text-danger">Cancelled</b></h3>
    {% endif %}
    {% for item in items  %}
        <div class="bg-light rounded border-bottom p-3">
            <p>Product: <a class="text-decoration-none" href="{{ item.product.id }}">{{ item.product.title }}</a></p>
            <p>Price: ${{ item.price }}</p>
            <p>Quantity: {{ item.quantity }}</p>
        </div>
    {% endfor %}
    <h4 class="border-top pt-2 text-muted">Total: ${{ order.get_total_price }}</h4>

    <div class="col-md-3">
        <form action="{% url 'dashboard:order_confirm' order.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-success">Confirm</button>
        </form>
        <form action="{% url 'dashboard:order_cancel' order.id %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Cancel</button>
        </form>
    </div>
{% endblock %}

{% comment %} {% extends "dashboard.html" %}

{% block content %}
{% if order.status %}
    <h4><b class="text-success">Successful</b></h4>
{% else %}
    <h3><b class="text-danger">Cancelled</b></h3>
{% endif %}
{% for item in items  %}
<div class="bg-light rounded border-bottom p-3">
    <p>product:<a class="text-decoration-none" href="{{ item.product.get_absolute_url }}"> {{item.product.title}}</a></p>
    <p>Price: ${{item.price}}</p>
    <p>quantity: {{item.quantity}}</p>
</div>
{% endfor %}
<h4 class="border-top pt-2 text-muted">Total: ${{ order.get_total_price }}</h4>


<div class="col-md-3">
   
    <a href="{% url 'accounts:user_login' %}" class="btn btn-danger me-2">Annuler </a>
    <a href="{% url 'accounts:user_register' %}" class="btn btn-success">Confirmer</a>
    
</div>


{% endblock %} {% endcomment %}